* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffcf7d; /* Soft orange background */
}

.card {
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  perspective: 1200px;
  transition: 1s;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
}

.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

.inside {
  background: linear-gradient(to right, #fff5e1, #ffffff 30%);
  line-height: 1.5;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}

.outside {
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #fff5e1, #ffffff 30%);
}

.outside p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 4px;
  color: #d35400;
}

.inside h2 {
  font-size: 16px;
  color: #000;
}

.inside-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
