body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff4e6; /* light orange theme */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.outside, .inside {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.outside {
  background-color: #ffb84d; /* orange tone */
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cake-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.back {
  background-color: #ffa64d;
  transform: rotateY(180deg);
}

.inside {
  background-color: #fff8f0;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transform: rotateY(180deg);
}

.poem {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  line-height: 1.6;
  white-space: pre-line;
  text-align: center;
  margin-top: 20px;
}

.inside-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-top: 8px;
  border-radius: 10px;
}

.card:hover .outside {
  transform: rotateY(180deg);
}
