* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fdbf00;
}

.card {
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  perspective: 1200px;
  transition: 1s;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
}

.outside, .inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 1.5;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
}

.outside {
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}

.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.inside-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 10px;
}

.inside h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

.poem {
  font-size: 16px;
  margin-top: 20px;
}
